@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: black url(../imagens/fundo-madeira.jpg) center bottom no-repeat fixed;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

section#laptop {
    height: 419px;
    width: 730px;
    position: absolute;

    left: 50%;
    top: -9%;
    transform: translate(-50%,50%);
    background: url(../imagens/frame-laptop.png) center center no-repeat fixed;
    background-size: cover;
}

iframe#tela {
    position: relative;
    top: 17px;
    left: 118px;
    width: 394px;
    height: 222px;
}

section#redes-sociais img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.438);
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.315);
    transition: 0.2s;
}

section#redes-sociais {
    text-align: right;
}